
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
li{
    list-style: none;
}
a:visited{
    color: rgb(0, 0, 0);
}
/* Bordered form */
h1{
    padding-left:30px;
}
span{
    padding-top: 30px;
    padding-left: 30px;
}
form {
    width:100%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #00158f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #0004ff;
    border: 1px solid #1100ff;
}
#gauche {
    color: #fff;
    float: left;
    width: 18%;
    height: 100px;
}
#droite {
    display: block;
    float: left;
    width: 80%;
    margin: 20px auto;
}

#com {
    height:500px;
    width:500px ;
    background-color:grey;
    border-radius: 25px;
    padding : 10px;
}
#client{
    background-color: #fff;
    height: 50px;
    width: 50%;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 5px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}